/*primary bg color for the portal*/
.color-bg-primary{
	background-color: #5C8984;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
	margin-top:auto;
}

.sub-footer{
	min-height:12vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/*removing curved border of jumbotron class of bootstrap4*/
.jumbotron {
  border-radius: 0;
}

.container-table{
	padding-top:50px;
}

.table-header{
	color: white;
	background-color: #5C8984;
	text-align: center;
}

td{
	text-align: center;
}
